ul, ol, li, h1, h2, h3, a{
	padding: 0;
	margin: 0;
}
p{
	margin: 1rem;
	
}
#qOne{
background-color: #666;
}
body{
	background-color: #f4f4f4;
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}

header{
	background-color: #333;
	color: #fff;
	
	padding: .1rem 1rem;
	position: sticky;
	width: 100%;
	
}
header ul, header p, h1, h2, h3, h4{
	margin: 1rem;
}
header{
	top: 0;
}

header h1{

	text-align:center;
}
footer{
	background-color: #333;
	color: #fff;
	visibility: hidden;
	padding: .1rem 1rem;
	position: fixed;
	width: 100%;
	text-align:center;
	font-style:italic;

	bottom: 0;
	
}
.horizontal{
	display: flex;
	
}
main{
	margin-left: 14rem;
	padding-left: 14rem;
	background-color: pink;
}
main ol{
	margin:1rem 1rem 1rem 1rem;
	
}

nav{
	position: fixed;
	left: 0px;
 	padding:  1.5rem;
	
}


nav ul {
    list-style: none;

}

a{
	color: #4945a0;
}


nav a {
    text-decoration: none;
    color: #ffffff;
	margin: .2rem;
	background-color: #4945a0;
	padding: .4rem;
	width: 100%;
	display: block;
}

nav a:hover{
	background-color: #5955b0;
}


#divFive ol, #divSix ol, #divSeven ol, #divEight ol, #divNine ol, #divTen ol, #divEleven ol, #divTwelve ol, #divThirteen ol{

	padding: 0; 
	margin: 0;
	
	
}

#divFive ol li, #divSix ol li, #divSeven ol li, #divEight ol li, #divNine ol li, #divTen ol li, #divEleven ol li, #divTwelve ol li, #divThirteen ol li{
	padding: 0; 
	margin: 0;

}

main li.question{
	padding: .5em .5em;
	margin: 1em;
	background-color: white;
	border-radius: 4px;
	text-align: left;
	list-style-position: inside;
}


button {
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
	
}
